# DOCKER
compose.override.yaml

# NODE
node_modules/

# NEXT
infrastructure/frontend/.next/
infrastructure/frontend/out/
infrastructure/frontend/build/

# EXPRESS
infrastructure/express/build/

# FASTIFY
infrastructure/fastify/build/

# ENV
infrastructure/frontend/.env.local
infrastructure/express/.env.local
infrastructure/fastify/.env.local
